// BEGIN SIDE NAVIGATION
nav.navbar-side(role='navigation')
  .navbar-collapse.sidebar-collapse.collapse
    // BEGIN SHORTCUT BUTTONS
    .media
      ul.sidebar-shortcuts
        li
          a.btn
            i.fa.fa-user.icon-only
        li
          a.btn
            i.fa.fa-envelope.icon-only
        li
          a.btn
            i.fa.fa-th.icon-only
        li
          a.btn
            i.fa.fa-gear.icon-only
    // END SHORTCUT BUTTONS
    // BEGIN FIND MENU ITEM INPUT
    .media-search
      input#input-items.input-menu(type='text', placeholder='Find...')
    // END FIND MENU ITEM INPUT
    ul#side.nav.navbar-nav.side-nav
      // BEGIN SIDE NAV MENU
      // Navigation category
      li
        h4 Navigation
      // END Navigation category
      li
        a.active(href='/')
          i.fa.fa-dashboard
          |  Dashboard
      li
        a(href='/customers')
          i.fa.fa-list
          |  Customer List
      li
        a(href='/chart')
          i.fa.fa-angle-double-right
          |  Statistics
      li
        a(href='/transactiontypechart')
          i.fa.fa-angle-double-right
          |  Transaction Chart
      li
        a(href='/transactionchart')
          i.fa.fa-angle-double-right
          |  Total Channel Chart
      li
        a(href='/PointChart')
          i.fa.fa-angle-double-right
          |  Point Chart
      li
        a(href='/ChannelByTran')
          i.fa.fa-angle-double-right
          |  Channel By Transaction
      li
        a(href='/productchart')
          i.fa.fa-angle-double-right
          |  Product Chart
      li
        a(href='/PercenOfTran')
          i.fa.fa-angle-double-right
          |  Branch Transactions Distribution
      li
        a(href='/dashboard')
          i.fa.fa-angle-double-right
          |  dashboard 2
    // /.side-nav
  // /.navbar-collapse
// /.navbar-side
// END SIDE NAVIGATION