<!DOCTYPE html>
<html>
  <head>
    <title>index</title>
  </head>
  <body>
	<a href="customerlist">customerlist</a>
	<br/>
	<a href="customerdetail">customerdetail</a>
	<br/>
	<a href="simulator">simulator</a>
	<br/>
  </body>
</html>
