extends layout
block content
  // START YOUR CONTENT HERE
  .row
    .col-lg-6
      .portlet
        .portlet-heading.inverse
          .portlet-title
            h4 Column Chart
          .portlet-widgets
            a(data-toggle='collapse', data-parent='#accordion', href='#chart-1')
              i.fa.fa-chevron-down
          .clearfix
        #chart-1.panel-collapse.collapse.in
          .portlet-body
            // Chart content
            #ColumnChart(style='height: 250px; width: 100%;')
    .col-lg-6
      .portlet
        .portlet-heading.inverse
          .portlet-title
            h4 Pie Chart
          .portlet-widgets
            a(data-toggle='collapse', data-parent='#accordion', href='#chart-3')
              i.fa.fa-chevron-down
          .clearfix
        #chart-3.panel-collapse.collapse.in
          .portlet-body
            // Chart content
            #PieChart(style='height: 250px; width: 100%;')
  // END YOUR CONTENT HERE
block append script
  //App script
  script(src='socket.io/socket.io.js')
  script(src='/assets/js/app/ColumnAreaChart.js') //Chart
  script(src='/assets/js/app/canvasjs.min.js') //Chart